<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="icon" href="./favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Wrap your content in a Bootstrap container -->
    <div class="container">
        <div id="projetos"></div>
        <section class="sessao-projetos">
            <div class="sessao-header">
                <h1>Projetos</h1>
            </div>
            <!-- Replace the existing card section with the new card-deck -->
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{% static 'home/img/projeto-img1.jpg' %}" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Agendamento de Tarefas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Django, Redis, Celery</h6>
                        <p class="card-text">Desenvolvi um sistema eficiente de agendamento de tarefas utilizando Django, Celery e Redis. O Celery, em conjunto com o Redis, permite o processamento eficaz de filas, garantindo a execução pontual das tarefas. Destaque para a notificação automática aos usuários quando uma tarefa atinge seu prazo.</p>
                        <a class = 'btn btn-success' href="{% url 'painel' %}">Ver projeto</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="{% static 'home/img/projeto-img2.jpg' %}" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Blog Dinâmico em Django</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Django, Bootstrap</h6>
                        <p class="card-text"><p class="card-text">Desenvolvi um blog dinâmico usando Django, com ênfase nas interações robustas no backend. Os usuários podem criar posts autenticados, curtir publicações e interagir por meio de comentários. Cada post e comentário são identificados pelo respectivo autor. O Bootstrap aprimora o design responsivo.</p>
                        <a class = 'btn btn-success' href="{% url 'index-blog' %}">Ver projeto</a>
                    </div>
                </div>



                <div class="card">
                    <img class="card-img-top" src="{% static 'home/img/projeto-img3.jpg' %}" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Jogo da Velha Interativo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">HTML, CSS, JavaScript</h6>
                        <p class="card-text">
                            Desenvolvi este jogo da velha interativo, demonstrando habilidades em JavaScript.
                            <br>
                            Recursos:<br>
                            - Interface simples e intuitiva.<br>
                            - Alternância entre jogadores.<br>
                            - Detecção de empate.<br>
                            - Destaque visual para vitórias.<br>
                            - Reinicialização rápida.<br>
                            Desenvolvimento técnico:<br>
                            - Manipulação do DOM com JavaScript.<br>
                            - Lógica de programação para o jogo.<br>
                            - Estilização usando CSS.<br>

                            <a href="{% url 'jogo'%}" class="btn btn-success">Ver projeto</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- Include Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
