<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/logar.css' %}">
</head>

<body>
    <main id="container">
        <form id="login_form" method = "POST">  {% csrf_token %}
            <div id="form_header">
                <h1>Cadastro</h1>
                <i id="mode_icon" class="fa-solid fa-moon"></i>
            </div>
                    {% for mensagem in messages %}
                        <div class="{{mensagem.tags}}" role="alert">
                        {{mensagem}}
                        </div>
                    {% endfor %}

            <div id="imput">
                <div class="imput-box">
                    <label for="usuario">
                        Usuario
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="usuario" id="usuario" name="usuario" placeholder="Digite o seu nome de usuario ...">
                        </div>
                    </label>
                </div>
                <div class="imput-box">
                    <label for="email">
                        E-mail
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" id="email" name="email" placeholder="Digite o seu E-mail ...">
                        </div>
                    </label>
                </div>

                <div class="imput-box">
                    <label for="password">
                        Senha
                        <div class="input-field">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" id="password" name="password" placeholder="Digite sua senha ...">
                        </div>
                    </label>
                </div>

                <div class="imput-box">
                    <label for="confirmSenha">
                        Senha
                        <div class="input-field">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" id="confirmSenha" name="confirmSenha" placeholder="Confirme sua senha ...">
                        </div>
                    </label>

                    <div id="forgot_password">
                        <a href="#">
                            Esqueceu sua senha?
                        </a>

                    </div>

                </div>
            </div>

            <button type="submit" id="login_button">
                Cadastrar

            </button>


        </form>
    </main>

    <script>
        const mode = document.getElementById('mode_icon');

        mode.addEventListener('click', () =>{
            const form = document.getElementById('login_form');
            if(mode.classList.contains('fa-moon')){
            mode.classList.remove('fa-moon');
            mode.classList.add('fa-sun');
            form.classList.add('dark');

            return;
        }
            mode.classList.add('fa-moon');
            mode.classList.remove('fa-sun');
            form.classList.remove('dark');
        });
    </script>
</body>

</html>