* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sessao-header h1 {
    font-family: sans-serif;
    font-size: 3rem;
    color: rgba(5, 5, 5, 0.8);
    border-bottom: solid 3px #30934e;
    margin: 2rem;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: #262600;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.card-info {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-shadow: 0.3 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    transition: background 0.5s;
    box-sizing: border-box;
}

.card-info h2 {
    font-family: "Work Sans";
    font-size: 1.5rem;
    font-weight: 500;
    color: #eee;
    margin-bottom: 0.5rem;
}

.card-info h3 {
    font-family: "Work Sans";
    font-weight: bolder;
    color: #ff0030;
    margin-bottom: 1rem;
}

.card-info p {
    font-family: "Work Sans";
    font-weight: 450;
    color: #eee;
    margin-bottom: 1rem;
}

.card-info button {
    width: 8rem;
    height: 2.5rem;
    background-color: #309349;
    font-family: "Work Sans";
    font-size: 1rem;
    color: #eee;
    border-radius: .5rem;
    box-shadow: 0.1rem .8rem rgba(0, 0, 0, 0.753);
}

.card:hover .card-info {
    background: rgba(0, 0, 0, 0.9);
}

.sessao-header{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.sessao-header h1{
    font-family: sans-serif;
    font-size: 3rem;
    color: rgba(5, 5, 5, 0.8);
    border-bottom: solid 3px #309361;
    border: bottom 1.5rem; ;
    margin: 2rem;
}
a{
    color: #eee;
}