<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Cadastro Tarefa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  {% load static %}
  <link rel="stylesheet" href="{% static 'evento/css/criar_tarefa.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>


<body>

  <div class="container" >

    <div class="mb-4">
      <div class="btn-group">
        <a href="{% url 'painel' %}" class="btn btn-primary">Painel </a>
          <a href="{% url 'criar_tarefa' %}" class="btn btn-primary">Cadastrar Tarefa</a>
          <a href="{% url 'tarefas_total' %}" class="btn btn-primary">Filtrar por todas Tarefas</a>
          <a href="{% url 'tarefas_no_prazo' %}" class="btn btn-primary">Filtrar por Tarefas no prazo</a>
          <a href="{% url 'tarefas_fora_prazo' %}" class="btn btn-primary">Filtrar por Tarefas fora do prazo</a>
          <a href="{% url 'tarefas_concluidos' %}" class="btn btn-primary">Filtrar por Tarefas concluidas</a>
          <a href="{% url 'tarefas_pendentes' %}" class="btn btn-primary">Filtrar por Tarefas pendentes </a>
      
      </div> 
  </div>


   <div class="content">      
      <!--FORMULÁRIO DE CADASTRO-->
      
      <div id="cadastro">
     
        <form class="form-container" method="post" enctype="multipart/form-data"> {% csrf_token %}
          {% for mensagem in messages %}
              <div class="{{mensagem.tags}}" role="alert">
              {{mensagem}}
              </div>
          {% endfor %}
          <h1>Cadastre uma nova tarefa</h1> 
          <p> 
            <label for="titulo">Titulo</label>
            <input class="form-control" id="titulo" name="titulo" required="required" type="text" placeholder="Titulo..." required="required"/>
          </p>      
          <p> 
            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" required="required" type="email" placeholder="Email..." required="required"/>
          </p>     
          <p> 
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="3" m-3></textarea>
          </p>
          <p> 
            <label for="datetime">Data e hora</label>
            <input class="form-control" id="datetime" name="datetime" required="required" type="datetime-local" required="required"/>
          </p>  



          <p class="d-flex justify-content-center"> 
            <Button class="botao"><a href=""></a>Cadastrar</Button>
          </p>
           
         
        </form>
      </div>
    </div>
  </div>  

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/f5b5cac2ff.js" crossorigin="anonymous"></script>