<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Painel</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>  
    <div class="container mt-4">
        <!-- Botões para cadastrar tarefas -->
        <div class="mb-4">
            <div class="btn-group">
                <a href="{% url 'criar_tarefa' %}" class="btn btn-primary">Cadastrar Tarefa</a>
                <a href="{% url 'tarefas_total' %}" class="btn btn-primary">Filtrar por todas Tarefas</a>
                <a href="{% url 'tarefas_no_prazo' %}" class="btn btn-primary">Filtrar por Tarefas no prazo</a>
                <a href="{% url 'tarefas_fora_prazo' %}" class="btn btn-primary">Filtrar por Tarefas fora do prazo</a>
                <a href="{% url 'tarefas_concluidos' %}" class="btn btn-primary">Filtrar por Tarefas concluidas</a>
                <a href="{% url 'tarefas_pendentes' %}" class="btn btn-primary">Filtrar por Tarefas pendentes </a>
            
            </div> 
        </div>

        <!-- Últimas Tarefas Cadastradas -->
        <div class="mb-4">
            <h3>Últimas Tarefas Cadastradas</h3>
            <div class="row">
                {% for tarefa in ultimas_tarefas %}
                    {% if forloop.counter <= 3 %}
                        <div class="col-md-4 mb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ tarefa.titulo }}</h5>
                                    <p class="card-text"><strong>Descrição:</strong> {{ tarefa.descricao }}</p>
                                    <p class="card-text"><strong>Email:</strong> {{ tarefa.email }}</p>
                                    <p class="card-text"><strong>Status:</strong> {{ tarefa.get_status_display }}</p>
                                    {% if tarefa.status == 'P' %}
                                        <a href='/evento/editar_status/C/{{tarefa.id}}/' class="btn btn-sm btn-success">Atualizar status para concluido</a>
                                    {% else %}
                                    <a href='/evento/editar_status/P/{{tarefa.id}}/' class="btn btn-sm btn-success">Atualizar status para pendente</a>
                                    {% endif %}
                                    <p class="card-text"><strong>Prazo:</strong> {{ tarefa.prazo }}</p>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-primary">Atualizar status</button>
                                        <a href='/evento/editar/{{tarefa.id}}' class="btn btn-sm btn-success">Editar tarefa</a>
                                        <a href='/evento/excluir/{{tarefa.id}}' class="btn btn-sm btn-danger">Apagar tarefa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Tarefas Prestes a Vencer -->
        <div>
            <h3>Tarefas Prestes a Vencer</h3>
            <div class="row">
                {% for tarefa in tarefas_perto_de_vencer %}
                    {% if forloop.counter <= 3 %}
                        <div class="col-md-4 mb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ tarefa.titulo }}</h5>
                                    <p class="card-text"><strong>Descrição:</strong> {{ tarefa.descricao }}</p>
                                    <p class="card-text"><strong>Email:</strong> {{ tarefa.email }}</p>
                                    <p class="card-text"><strong>Status:</strong> {{ tarefa.get_status_display }}</p>
                                    {% if tarefa.status == 'P' %}
                                        <a href='/evento/editar_status/C/{{tarefa.id}}/' class="btn btn-sm btn-success">Atualizar status para concluido</a>
                                    {% else %}
                                        <a href='/evento/editar_status/P/{{tarefa.id}}/' class="btn btn-sm btn-success">Atualizar status para pendente</a>
                                    {% endif %}
                                    <p class="card-text"><strong>Prazo:</strong> {{ tarefa.prazo }}</p>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-primary">Atualizar status</button>
                                        <a href='/evento/editar/{{tarefa.id}}' class="btn btn-sm btn-success">Editar tarefa</a>
                                        <a href='/evento/apagar/{{tarefa.id}}' class="btn btn-sm btn-danger">Apagar tarefa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (opcional, dependendo das suas necessidades) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
